<div class="header">
  <div class="nav-left">
    <h1 class="nav-nook">BookNook.</h1>
  </div>
  <div class="nav-right">
    <a href="/home/home.html"><img
        class="home"
        src="/assets/images/home.png"
      /></a>
    <a href="/wishlist/wishlist.html"><img
        class="wish-list"
        src="/assets/images/wish-list.png"
      /></a>
    <a href="/shop/shop.html"><img
        class="shop"
        src="/assets/images/shop.png"
      /></a>
    <a href="/profile/profile.html"><img
        class="user"
        src="/assets/images/user.png"
      /></a>
  </div>
</div>