.profile-container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.profile-heading {
    font-weight: 400;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    color: var(--heading-color);
    letter-spacing: -.0625rem;
    color: black;
    font-size: 60px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 150px;
}

.user-profile-left {
    display: flex;
    background-color: lightseagreen;
    height: 500px;
    width: 650px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 200px;
}

.user-profile-right {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 650px;
    margin-right: 100px;
}