body {
    margin: 0;
    background-color: bisque;
}

/*Things left to do - make nice tooltips for profile, wishlist, basket and chat*/

/*Navbar START*/
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    margin-top: 10px;
}

.nav-left {
    width: 150px;
    display: flex;
    margin-left: 20px;
}

.nav-nook {
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: var(--heading-color);
    letter-spacing: -.0625rem;
}

.nav-nook:hover { /*make this a link back to home page*/
    cursor: pointer;
}

.nav-right {
    width: 600px;
    display: flex;
    margin-right: 20px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {

}

.nav-item {

}

.nav-link {

}


.wish-list {
    height: 30px;
    cursor: pointer;
}

.profile {
    height: 40px;
    cursor: pointer;
}

.shop {
    height: 30px;
    cursor: pointer;
}
/*Navbar END*/